{%- extends "bootstrap/base.html" -%}
{%- from 'bootstrap/utils.html' import flashed_messages,icon -%}
{%- block metas -%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
{%- endblock metas -%}
{%- block title -%}
    {%- if title -%}
        {{ title }} - Book Library
    {%- else -%}
        Book Library
    {%- endif -%}
{%- endblock -%}
{%- block styles -%}
    {#    {{ super() }}#}
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">
{%- endblock -%}
{%- block body_attribs %} class="Site"{%- endblock -%}
{%- block navbar -%}
    <nav class="navbar  navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Book System</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {%- if current_user.is_authenticated -%}
                        <li {% if request.path == url_for('user.detail',user_id=current_user.id) -%}
                            class="active"{%- endif -%} >
                            <a>{{ current_user.name }}</a>
                        </li>
                        <li><a href="{{ url_for('auth.logout') }}">logout</a></li>
                    {%- else -%}
                        <li><a href="{{ url_for('auth.login') }}">login</a></li>
                    {%- endif -%}
                </ul>
            </div>
        </div>
    </nav>
{%- endblock -%}

{%- block content -%}
    <div style="background-color:pink" >
        <main style="height:95%">
        {%- with icon_transform={
    'success':icon('ok'),
    'danger':icon('ban-circle'),
    'info': icon('info-sign'),
    'warning': icon('alert')} -%}
            {%- set messages=get_flashed_messages(with_categories=True) -%}
            {%- if messages -%}
                {%- for cat, msg in messages -%}
                    <div class="alert alert-{{ cat }} alert-dismissible animated bounceIn delay-{{ loop.index0 }}"
                         role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        {{ icon_transform.get(cat) ~' '~ msg }}
                    </div>
                {%- endfor -%}
            {%- endif -%}
        {%- endwith -%}
        {%- block mycontent -%}{%- endblock -%}
    </main>
        <footer id="footer" style="width:200px;margin-left:10px;height:100px;margin-top:300px;">
          <p>COMPSCI 235 Software Development Methodologies</p>
        </footer>
    </div>

{%- endblock -%}

{%- block scripts -%}
    <script src="{{ url_for('static',filename='js/jquery-2.2.3.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
{%- endblock scripts -%}
